---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
import { Content } from "~/content/about/我.md";
---

<LayoutDefault>
  <div un-flex="~ col gap-4">
    <Content />
  </div>
</LayoutDefault>
